@{
    ViewBag.Title = "Post";
}

<div style="font-weight: bold">@Model.Title</div>
<div>@Model.Content</div>
<div style="font-style: italic">Author: <a href="/Users/@Model.Author">@Model.Author</a></div>
<hr/>

<div>Comments:</div>
<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>
            <div>
                <div>@comment.Content</div>
                <div style="font-style: italic">Author: <a href="/Users/@comment.Author">@comment.Author</a></div>
            </div>
        </li>
    }
</ul>

<form action="/@Model.PostID/Comment" method="POST">
    <div style="font-weight: bold">
        Add a comment:
    </div>
    <div>
        Author: <input type="text" name="Content" />
    </div>
    <div>
        Content: <input type="text" name="Author" />
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
