@{
    ViewBag.Title = "Post";
}

<div style="font-weight: bold">@Model.Title</div>
<div>@Model.Content</div>
<div style="font-style: italic">Author: <a href="/Users/@Model.Author">@Model.Author</a></div>
<hr/>

<div>Comments:</div>
<hr/>

@foreach (var comment in Model.Comments)
{
    <div>
        <div>@comment.Content</div>
        <div style="font-style: italic">Author: <a href="/Users/@comment.Author">@comment.Author</a></div>
    </div>
    <hr/>
}

<form action="/@Model.PostID/Comment" method="POST">
    <input type="text" name="Content" />
    <input type="text" name="Author" />
    <input type="submit"/>
</form>
